/***************************************************
** Generic settings
****************************************************/

body {
    margin: 0;
}

html, body, .container {
    height: 100%
}

input {
    box-sizing: border-box;
}

/***************************************************
** Font & color settings
****************************************************/

body, input, button {
    font-family: 'Open Sans', arial, sans-serif;
}

.form-login-heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
}

.form-input, .form-button, .form-error-message {
    font-size: 16px;
    border: none;
}

.form-button {
    color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.form-error-message {
    color: #d9534f;
}

.form-login-text {
    font-size: 15px;
}

.form-user-image, .form-login {
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.15);
}

/***************************************************
** Positioning settings
****************************************************/

.container * {
    flex-shrink: 0;
}

.container, .form-user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-user-image {
    width: 96px;
    height: 96px;
    border: none;
    border-radius: 48px;
    z-index: 1;
}

.form-user-image-svg {
    width: 64px;
    height: 64px;
}

.form-login {
    min-width: 230px;
    padding: 48px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -48px;
}

.form-login-heading, .form-input, .form-error-message, .form-button {
    text-align: center;
    width: 100%;
}

.form-input, .form-button, .form-forgot-pwd-link, .form-error-message {
    padding: 10px;
}

.form-input, .form-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-login-text {
    margin-top: 0;
}

.form-button {
    cursor: pointer;
}

/***************************************************
** Dynamic settings
****************************************************/

.hidden {
    visibility: hidden;
}